* {
  margin: 0;
  padding: 0;
  font-family: "Albert Sans", "Albert Sans Placeholder", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px;
}
.card {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0, 181, 213, 0.125);
  border-radius: 10px;
  background-color: rgb(243, 252, 255);
  gap: 35px;
  --margin-up-down: 20px;
  --margin-left-right: 45px;
}
.card .left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: var(--margin-up-down) 0 var(--margin-up-down) var(--margin-left-right);
}
.card .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70px;
  margin: var(--margin-up-down) var(--margin-left-right) var(--margin-up-down) 0;
}
.card .schedule {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.card .schedule div {
  white-space: nowrap;
}
.card .left .img {
  position: relative;
  height: 60px;
  width: 150px;
}
.card .left .img::before {
  position: absolute;
  content: "";
  height: 120px;
  width: 180px;
  background: url(webpic.png);
  background-size: cover;
  background-position: center;
}

/* weather */
.card .right div:nth-child(1) { 
  height: 70px;
  width: 100%;
  border-radius: 15px;
  background-color: rgb(80, 80, 80);
}
/* switch */
.card .right div:nth-child(2) { 
  height: 35px;
  width: 100%;
  border-radius: 100px;
  background-color: rgb(33, 33, 33);
}
/* clock */
.card .right div:nth-child(3) { 
  position: relative;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 100%;
  border-radius: 15px;
  font-size: 1.8rem;
  font-weight: 700;
}